<link rel="stylesheet" href="listlayout.css">
<body>
    <div class= 'header'>
        <div class='logo'>
            <div class='logoutm'><img src="image/logoutm.png" alt="UTM Logo" title="UTM Logo" width="85"/></div>
            <div class="rcorner"></div>
            <div class="list">
                <div class='list1'>List of</div>
                <div class='list2'>Lecturers</div>
        </div>
            <div class='logoutimg'><img src="image/logout.png" alt="logout icon" title="Logout" width="65" ng-click="logout()"/></div>
        </div>
    </div>

    <div id="menu-bar">
        <ul>
            <a href="#!/home">Home</a>
        <div id="select">
            <a href="#!/lecturer">Lecturer</a>
            <div class="hcorner"></div>
        </div>
            <a href="#!/student">Student</a>
            <a href="#!/book-venue">Book Venue</a>
        </ul>
    </div>

    <div id="justifylist">
        <div id="listname">
            <p><input id="search" type="text" ng-model="search" placeholder="Name"/><p>
            <button id="order1" ng-click="order = 'name'">Order By A-Z</button>
            <button id="order2" ng-click="order = '-name'">Order By Z-A</button>
            <table id="name1">
                <tr ng-repeat="item in lect | orderBy : order | filter: search" ng-click="lectDetail(item)">
                    <td id="name2">{{ item.name }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>